body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5e86761;
    color: #333;
}

header {
    text-align: center;
    padding: 1em;
    background-color: #d3cc42; /* Yellow */
    color: #333;
}

.main-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

main {
    max-width: 1000px;
    margin: 2em auto;
    padding: 1em;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, textarea, select, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

button {
    margin-top: 15px;
    background-color: #d3cc42;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f1f1f1;
}

